@import url('./style.css');

.questions-container {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    height: 350px;
    width: 850px;

    border-radius: 25px;
    box-shadow: 0.7px 0.4px 0.3px #000000;
    background-color: #e2e2e2;
}
.questions-container h2, h3, label, input, #result{
    color: #2c2c2c;
    text-align: center;
}
input {
    width: 200px;
    height: 25px;
    padding: 0 0 0 20px;
    margin: 5px;
    border-radius: 20px;
}
#submitInputs {
    width: 150px;
    padding: 0 0 0 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #7cff00;
}